html { 
    
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;

  }
 

body,main {
    display: flex;
    flex-direction: column;   
}

.bg-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url(images/autumn.jpg);
  background-size: cover;
  z-index: -1000;
}


main {
    flex-direction: row;
    flex: auto;
}
article {
    flex: 2;
    overflow-y: auto;
}
aside {
    flex: 1;
    overflow-y: auto;
    height: 1000px;
}

menu,ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

menu,li {
  float: left;
  color: red;
}

menu,li:last-child {
  border-right: none;
}

menu,li a {
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

menu,li a:hover:not(.active) {
  background-color: rgba(0, 0, 0, 0.363);
}

@keyframes example {
  from {background-color: #2e5ab99f;}
  to {background-color: #7a1175;}
}


.menu li {
  color: rgb(0, 0, 0);
}
footer {
  color: rgb(0, 0, 0) !important; 
  font-weight: bold !important;
}
footer a {
  color: rgb(255, 0, 0)!important; 
}


header li a {
  position: relative;
  margin: 0 !important;
  color:#fff;
  font-family: sans-serif;
  font-weight: bold;
}

header li a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 8px;
  bottom: 0;
  left: 0;
  transition: 0.2s linear;
  z-index: -1;
}

header li:hover a, header li a.active {
  background-color: unset !important;
}

header li:hover a::before, header li a.active::before {
  height: 100%;
}

header li:nth-child(1) a::before {
  background-color: #f1b949;
}

header li:nth-child(3) a::before {
  background-color: #ed3541;
}

header li:nth-child(2) a::before {
  background-color: #36d316;
}

header li:nth-child(4) a::before {
  background-color: #1046da;
}

.menu {
  float: left;
}


footer {
  color: rgb(255, 255, 255); 
  font-weight: bold !important;
  text-align: center;
}
footer a {
  color: rgb(255, 0, 0)!important; 
}

ol {
  padding: 5px 15px !important;
 }


.menu {
  float: left;
}
h1,h2,h3,h4,h5 {
  color: rgb(0, 0, 0);
}
main h2 {
  text-shadow: 0 0 14px #fd5d00ed, 0 0 14px #ffdf00;
  cursor: pointer;
}
    /* Table start*/
.divTableRow {
	display: table-row;
}

.divTableCell, .divTableHead {
	border: 1px solid #999999;
	display: table-cell;
	padding: 3px 10px;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
	font-weight: bold;
}
.divTableFoot {
	background-color: #EEE;
	display: table-footer-group;
	font-weight: bold;
}
.divTableBody {
	display: table-row-group;
}
table {
  background-color:#947e3e2e;
  width: auto;
}
table, th, td {
  border: 1px solid black !important;
}

th,td {
  font-size: 15px !important;
  padding: 10px !important;
}
/* Table end*/
.list ol li {
  float: left !important;
  clear: left !important;
  color: rgb(0, 0, 0);
}
.contain ol,li {
  color: rgb(0, 0, 0);
}
p {
  color: rgb(0, 0, 0) !important;
  list-style-type: circle !important; 
}

.itemWithCircle {
  display: block;
  position: relative;
  margin: 10px 0;
}

.itemWithCircle::before {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  left: -10px;
  top: 4px;
  background-color: rgb(0, 0, 0);
}
#smart_thumbnail {
  cursor: pointer;
}
.table-button button {
  position: relative;
  font-weight: bold;
  color: rgb(0, 0, 0);
  border: none;
  margin-top: 20px;
  padding: 10px 15px;
  background-color: #f1b949;
  border-radius: 20px;
  cursor: pointer;
  outline: none;
  top: 0;
  transition: all 0.2s ease;
}

.table-button button:hover {
  top: -8px;
  box-shadow: 0 5px 0 0 #ff7b00b0;
}

.table-button button:active {
  transition: all 0.1s ease;
  top: -5px;
  box-shadow: 0 3px 0 0 #0c5b52;
}

table {
  font-family: sans-serif !important;
}

thead {
  background-color: #f1b949;
}

tbody .even {
  background-color: rgb(45 45 45);
  color: #fff;
}

tbody .odd {
  background-color: rgb(95 95 95);
  color: #fff;
}

@keyframes example {
  from {background-color: red;}
  to {background-color: yellow;}
}
.body-info ol li {
  font-size: 30px;
}
.small {
  cursor: pointer;
}

/* Open Me BTN */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; 
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4); 
}

.modal-content {
  background-color: #1710107e;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%; 
  border-radius: 45px;
  text-align: center;
}


.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close h6 {
  color: white !important;
}

.close:hover,
.close:focus {
  color: white;
  text-decoration: none;
  cursor: pointer;
}
#myBtn {
  padding: 10px 20px;
  cursor: pointer;
  color: #fff;
  border-width: 4px;
  border-style: solid;
  background-color: #9b59b6;
  border-color: #8e44ad;
  animation: shake 4s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
@media screen and (max-width: 600px) {
  .menu  {
    font-size: 10px;
    position: relative;
    top: -20px;
    padding-top: 16px;
  }
}
@media screen and (max-width: 600px) {
  .full-table {
visibility: hidden;
margin: -503px;
  }
}
@media screen and (max-width: 600px) {
  aside {
    height: 512px;
  }
}